* {
    height: 400px;
}

header {
    background: rgb(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    font-family: "Oswald", sans-serif;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 10000;
}

.tituloheader {
    background: linear-gradient(to bottom left, rgb(255, 119, 0), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    margin-left: 170px;
    margin-top: 20px;
    margin-bottom: 0;
}

#section1 {
    height: 600px;
    background-size: cover;
    text-align: center;
    font-family: "Oswald", sans-serif;
    z-index: -1;
}

body {
    background: url(suplementosBG.jpeg);
    background-size: 1080px 800px;
    margin: 0;
    color: white;
    margin-top: 130px;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    height: 700px;
    background: rgba(0, 0, 0, 0.8); /* cor + opacidade (0 = transparente, 1 = opaco) */
    z-index: -1; /* fica atrás do conteúdo */
}

#h1section1 {
    font-size: 100px;
    background: linear-gradient(to bottom left, rgb(255, 157, 0), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#h2section1 {
    font-family: "Story Script", sans-serif;
    position: absolute;
    top: 330px;
    left: 10%;
    font-size: 75px;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 70px;
}

.laranja {
    background: linear-gradient(to bottom left, rgb(255, 119, 0), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quadradoSection1 {
    position: absolute;
    top:350px;
    right: 10%;
    height: 150px;
    width: 400px;
    background: linear-gradient(to top right, rgb(255, 111, 0), rgb(255, 157, 36));
    color: rgb(0, 0, 0);
    border-radius: 15px;    
    border: 2px solid;
    border-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    padding: 60px;
    padding-bottom: 40px;
    z-index: 1;
    margin: 0;
}

.quadradoSection2 {
    position: relative;
    top: 200px;
    left: 10%;
    height: 150px;
    width: 400px;
    background: linear-gradient(to top right, rgb(255, 111, 0), rgb(255, 157, 36));
    color: rgb(0, 0, 0);
    border-radius: 15px;    
    border: 2px solid;
    border-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    padding: 60px;
    padding-bottom: 45px;
    z-index: 1;
    margin: 0;
}

.divisorpreto {
    width: 100%;
    height: 75px;
    background-color: #000000;
    position: absolute;
    top: 688px;
}

#section2 {
    background: linear-gradient(to bottom left, rgb(0, 0, 0), rgb(63, 63, 63));
    height: 650px;
    position: relative;
    bottom: 15px;
    margin: 0;
}

#h1section2 {
    font-family: "Story Script", sans-serif;
    font-size: 70px;
    margin: 0;
    position: absolute;
    top: 30%;
    right: 10%;
}